.ipynb_checkpoints
.vscode
*.png
*.exr
*.json
*.tfrecord
*.bin
*.pth
odak.log
__pycache__

learnedMethodForHologram.egg-info/*

!data/test_384/*
!output/models/watermelon_GAN_GENERATOR_E_384_COMPARISON.pth
!output/test_output/terminalTest/*